/* CSS para pagina.html */

#wrapper {
    background-image: url(Imagenes/grass.jpg);
    background-repeat: repeat;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

header {
    height: 300px;
    background-image: url(Imagenes/jardineria.jpg);
    background-size: cover;
}

#titulo {
    color: greenyellow;
    font-size: 40px;
    font-family: fantasy;
    padding-top: 190px;
    padding-left: 20px;
}

#titulo a:link {
    text-decoration: none;
    color: greenyellow;
}

#titulo a:visited {
    text-decoration: none;
    color: greenyellow;
}

#subtitulo {
    color:white;
    font-family: sans-serif;
    padding-left: 20px;
}

nav {
    color: white;
    background-color: rgba(0,0,0,.7);
    height: 30px;
    line-height: 30px;
}

nav li {
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
}

section {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    padding: 20px 20px 20px 20px;
}

article {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    background-color: rgba(255,255,255,.7);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#artDetalle {
    background-color: rgba(255,255,255,.7);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-family: sans-serif;
}

#artDetalle h3 {
    color: darkgreen;
    font-size: 20px;
    font-family: sans-serif;
}

.dDerecha {
    margin-right: 10px;
    margin-left: 190px;
    margin-bottom: 10px;
    position: absolute;
    color: black;
    font-family: sans-serif;
    height: 200px;
    overflow-y: hidden;
}
    
.dIzquierda {
    margin-right: 200px;
    position: absolute;
    color: black;
    font-family: sans-serif;
    overflow-y: hidden;
    height: 200px;
}

#descripcion input[type='submit'] {
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: darkgreen;
}

footer {
    height: 120px;
    background-color: black;
    position: relative;
}

#textoFooter {
    color: white;
    line-height: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    width: 60%;
    min-width: 220px;
    float: left;
    font-family: sans-serif;
}

#redesFooter {
    height: 120px;
    width: calc(40% - 40px);
    padding-right: 20px;
    padding-top: 10px;
    float: right;
}

#redesFooter img {
    width: 50px;
    height: 50px;
    float: right;
}